.chat-window {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #111b21;
}

.chat-header {
    height: 60px; 
    background-color:#161717;
    display: flex;
    align-items: center;
 /*    justify-content: space-between; */
    padding: 10px 16px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08); 
    flex-shrink: 0;
}

.chat-header-content {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 20px;
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: green;
    font-size: 15px;
}

.header-info h3 {
    margin: 0;
    line-height: 1;
    color: rgb(212, 210, 210);
}

.message-area {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: sans-serif
}

.typing-text {
    font-size: 0.85rem;
    color: #01b20a ;
    font-weight: 500;
    margin: 0;
    padding: 0;
    animation: pulse-typing 1.5s infinite;
}

.msg-bubble {
    max-width: 65%;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 0.95rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    width: fit-content;
}

.msg-bubble.me {
    align-self: flex-end;
    background-color:#3f6964;
    color: #020c12;
    border: 1px solid #c0e0a8;
    border-top-right-radius: 0;
}

.msg-bubble.me:hover{
    background-color: rgb(87, 145, 141);
}

.msg-bubble.them:hover{
    background-color: rgb(109, 201, 207);
}

.msg-bubble.them {
    align-self: flex-start !important;
    background-color: #9ec6c1;
    color: #111b21;
    border: 1px solid #523737;
    border-top-left-radius: 0;
}

.chat-input-form {
    padding: 20px;
    background: #111b21;
    display: flex;
    gap: 10px;
}

.chat-input-form input {
    flex: 1;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid var(--text-dark);
    outline: none;
    background-color: #020c12;
    color: #d2dbe0;
}

.chat-input-form button {
    background: #075E54;
    color: var(--white);
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}

.error{
    justify-content: center;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #075E54;
    padding: 2px;
    background-color: var(--white);
    margin-right: 10px 40px 40px;
}

.msg-time {
    font-size: 0.75rem;
    color:grey;
    display: block;
    text-align: right;
    margin-top: 4px;
}

.msg-bubble.me .msg-time {
    color: rgb(241, 223, 223);
}

.msg-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    margin-top: 2px;
}

.msg-status {
    display: flex;
    line-height: 1;
}

.msg-status .check {
    color: #8696a0;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: -4px;
}

.msg-status.read .check {
    color: #2ddfef;
}

.msg-footer {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}

button.send-btn{
    background-color: #00a884 ;
    padding: 15px;
}

button.send-btn:hover{
    background-color: #019373;
}


.empty-chat {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0b141a;
}


.empty-chat-content {
  text-align: center;
  color: #8696a0;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}


.empty-chat-content h2 {
  font-size: 32px;
  font-weight: 300;
  color: #e9edef;
  margin-bottom: 10px;
}


.empty-chat-content p {
  font-size: 16px;
  color: #8696a0;
}

.chat-window {
    background-color: none;
    color: var(--text-color);
}