.info-panel {
  width: 30%;
  min-width: 300px;
  background-color: #111b21;
  color: white;
  padding: 20px;
  border-left: 1px solid #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.info-header img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
}

.info-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-body {
  text-align: center;
  margin-top: 20px;
}

.info-header h2 {
  margin-top: 10px;
}

.info-header p {
  color: gray;
  font-size: 0.9rem;
}