
:root {
    --wa-green: #00a884;
    --wa-dark: #111b21;
    --wa-bg: #f0f2f5;
    --text-dark: #3b4a54;
    --white: #ffffff;
    --wa-border: #ddd;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: rgb(178, 159, 141);
    color: rgb(0, 0, 0);
}

.contact-link.active {
    background-color: #202c33;
}


.app-container {
    height: 100dvh;
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}

.main-layout {
    display: flex;
    width: 100%;
    height: 100dvh;
}

/* Mini Sidebar */
.mini-sidebar-container {
    width: 70px;
    min-width: 70px;
    max-width: 70px;
}

/* =========================================
    3. LOGIN PAGE #FDF5EB
   ========================================= */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100dvh;
    background-color: rgb(22,23,23);
}

.login-form {
    background: #e8e0d7;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    width: 90%;
    max-width: 600px;
}

.login-form input {
    padding: 12px;
    border: 2px solid var(--wa-border);
    border-radius: 10px;
    outline: none;
}

.login-form button {
    background-color: #00a884;
    color: var(--white);
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
}
.login-form button:hover {
    background-color: #019373;
}

/* =========================================
    4. STATUS / STORIES
   ========================================= */

.user-avatar-container img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

/* =========================================
    5. CHAT WINDOW
   ========================================= */

@keyframes pulse-typing {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

/* =========================================
    6. DARK / LIGHT MODE
   ========================================= */

body.dark {
    --bg-main:  #161717;
    --bg-sidebar: #1D1F1F;
    --text-color: #e9edef;
}

body.light {
    --bg-main: #95a29d;
    --bg-sidebar: #869995;
    --text-color: #020405;
}


/* Desktop layout fix */
.main-layout > div {
    display: flex;
}

/* El contenedor del chat debe ocupar el espacio restante */
.main-layout > div:nth-child(3) {
    flex: 1;
}

.chat-container {
    flex: 1;
    display: flex;
    height: 100%;
}

.info-container {
    width: 350px;
    display: flex;
}
/* =========================================
    7. RESPONSIVIDAD DESKTOP
   ========================================= */

@media (min-width: 768px) {

    .sidebar {
        width: 350px;
    }

    .sidebar-container-desktop {
        display: block;
        width: 350px;
    }

    .contacts-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .chat-header .logout-btn-mobile {
        display: block !important;
        border-radius: 20px;
        padding: 6px 15px;
        margin-left: auto;
    }

    .back-btn {
        display: none;
    }

    .sidebar-header {
        display: flex;
        justify-content: flex-start;
        padding: 12px 16px;
    }
}

@media (min-width: 1200px) {
    .contacts-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* =========================================
    8. MOBILE - NAVEGACIÓN TIPO PANTALLAS
   ========================================= */

@media (max-width: 768px) {

    .main-layout {
        position: relative;
        overflow: hidden;
    }

    /* Ocultamos mini sidebar en mobile */
    .mini-sidebar-container {
        display: none;
    }

    /* Ocultamos sidebar desktop */
/*     .sidebar-container-desktop {
        display: none !important;
    } */

    /* Cada panel ocupa pantalla completa */
    .main-layout > div {
        width: 100%;
        height: 100%;
    }

    /* Clase que controlamos desde React */
    .hidden-mobile {
        display: none !important;
    }

    /* Botón volver visible en mobile */
  .back-btn {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: var(--text-dark);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .sidebar-actions-mobile {
        display: flex;
    }

}