/* VARIABLES Y RESET */

:root {
    --wa-green: #00a884;
    --wa-dark: #111b21;
    --wa-bg: #f0f2f5;
    --text-dark: #3b4a54;
    --white: #ffffff;
    --wa-border: #ddd;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background:var(--wa-bg);
    color:rgb(0, 0, 0);
}


/* LOGIN PAGE */

/* .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:rgb(71, 69, 69)
}

.login-form {
    background: rgb(215, 191, 191);
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    width: 90%;
    max-width: 600px;
}

.login-form input {
    padding: 12px;
    border: 2px solid var(--wa-border);
    border-radius: 10px;
    outline: none;
}

.login-form button {
    background-color: rgb(194, 61, 194);
    color: var(--white);
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;

}
.login-form button:hover{
    background-color: rgb(65, 6, 65);
}
 */
/* CONTACT LIST PAGE */

/* .contact-list-page {
    padding: 10px 40px 40px;
    width: 100%;
    min-height: 100vh;
    background-color: var(--wa-bg);
    overflow-y: auto;
}

.contacts-grid {
    display: grid;
    gap: 25px;
    margin-top: 20px;
    grid-template-columns: 1fr;
}

.contact-card {
    background: var(--text-dark);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow:  6px rgba(0, 0, 0, 0.05);
}

.avatar-large {
    width: 150px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid violet;
    margin-bottom: 10px;
}

.sport-tag {
    color: violet;
    font-weight: bold;
    font-size: 0.9rem;
}

.contact-details {
    text-align: left;
    font-size: 0.85rem;
    margin: 15px 0;
    color: #555;
}

.chat-button {
    display: block;
    background: var(--wa-green);
    color: var(--white);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.app-container {
    height: 100vh;
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
} */

/* .main-layout {
    display: flex;
    width: 100%;
    height: 100%;
}
 */

/* SIDEBAR */

/* .sidebar {
    width: 100%;
    height: 100%;
    background: var(--wa-border);
    border-right: 2px solid rgb(85, 69, 69);
    display: flex;
    flex-direction: column;
}


.sidebar-header {
    height: 80px;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    border-bottom: 1px solid rgba(232, 22, 22, 0.1);
    flex-shrink: 0;
}

.user-avatar-container, 
.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid rgb(188, 39, 188);
    background-color: var(--text-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
}

.user-avatar-container span {
    font-size: 1.5rem;
    color: violet;
}

.user-name {
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 20px;
    white-space: nowrap;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-list {
    overflow-y: auto;
    flex: 1;
}

.contact-link {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid rgb(187, 185, 185);
    margin-left: 20px;
}


.contact-link:hover {
    background: #f5f6f6;
}

 */
/*  STATUS / STORIES*/
/* .user-avatar-container img {
    width: 60px;        
    height: 60px;
    border-radius: 50%; 
    object-fit:cover  
}


   .status-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.status-container {
    position: relative;
    width: 90%;
    max-width: 400px; 
    height: 80vh;
}


.status-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    border:none;
}

.close-status-btn {
    position: absolute;
    top: -40px;
    right: 0;
    background: none;
    border: none;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.status-video-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 80vh;
}

.status-video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.close-status {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    background: none;
    border: none;
}


.close-status-btn {
    position: absolute;
    top: -40px;
    right: 0;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
} */

/* CHAT WINDOW */


/* .chat-window {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: rgb(215, 213, 211);
}

.chat-header {
    height: 60px; 
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08); 
    flex-shrink: 0;
}

.chat-header-content {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: green;
}

.header-info h3 {
    margin: 0;
    line-height: 1;
    color: black;
}

.logout-btn-mobile {
    background: rgb(101, 16, 101);
    color: var(--wa-bg);
    border: 2.5px solid var(--wa-bg);
    padding: 15px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
    transition: all 0.2s ease;
    margin-left: 20px;
    margin-bottom: 30px;
}

.message-area {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
  
}

.typing-text {
    font-size: 0.85rem;
    color: #00a884 ;
    font-weight: 500;
    margin: 0;
    padding: 0;
    animation: pulse-typing 1.5s infinite;
}

.logout-btn-mobile:hover{
    background-color: red;
}

@keyframes pulse-typing {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
 */

/*  BUBBLES */

/* .msg-bubble {
    max-width: 65%;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 0.95rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    width: fit-content;
}

.msg-bubble.me {
    align-self: flex-end;
    background-color: #bb7cb6;
    color: #020c12;
    border: 1px solid #c0e0a8;
    border-top-right-radius: 0;
}

.msg-bubble.them {
    align-self: flex-start !important;
    background-color: rgb(232, 186, 209);
    color: #111b21;
    border: 1px solid #523737;
    border-top-left-radius: 0;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgb(157, 25, 157);
    padding: 2px;
    background-color: var(--white);
    margin-right: 10px 40px 40px;
}

.msg-time {
    font-size: 0.75rem;
    color:grey;
    display: block;
    text-align: right;
    margin-top: 4px;
}

.msg-bubble.me .msg-time {
    color: rgb(241, 223, 223);
}

.msg-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    margin-top: 2px;
}

.msg-status {
    display: flex;
    line-height: 1;
}

.msg-status .check {
    color: #8696a0;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: -4px;
}

.msg-status.read .check {
    color: #34b7f1
}

.msg-footer {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}

.msg-status .check:first-child {
    margin-left: 2px;
}
.msg-bubble.me:hover{
    background-color: rgb(181, 92, 181);
}

.msg-bubble.them:hover{
    background-color: rgb(243, 181, 243);
} */

/*  FORM */
/* 
.chat-input-form {
    padding: 20px;
    background: var(--wa-bg);
    display: flex;
    gap: 10px;
}

.chat-input-form input {
    flex: 1;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid var(--text-dark);
    outline: none;
}

.chat-input-form button {
    background: rgb(173, 31, 173);
    color: var(--white);
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}

.bio-summary {
    font-size: 0.8rem;
    color: #667781;
    margin: 0;
}

.contact-details-bar {
    background-color: #ffffff;
    padding: 8px 15px;
    border-bottom: 1px solid var(--wa-border);
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.contact-details-bar strong {
    color: var(--wa-green);
}

.chat-input-form button:hover {
    background: rgb(82, 3, 82);
}
 */
/* RESPONSIVIDAD */
.sidebar-container-desktop {
    display: none;
}

.desktop-only-placeholder {
    display: none;
}

@media (min-width: 768px) {
    .contacts-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .chat-header .logout-btn-mobile {
        display: block !important;
        border-radius: 20px;
        padding: 6px 15px;
        margin-left: auto;
    }

    .back-btn {
        display: none;
    }

    .sidebar-header {
        display: flex;
        justify-content: flex-start;
        padding: 12px 16px;
    }
}

@media (min-width: 1200px) {
    .contacts-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 700px) {
    .sidebar {
        width: 350px;
    }

    .sidebar-container-desktop {
        display: block;
        width: 350px;
    }

    .desktop-only-placeholder {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #f8f9fa;
    }

}