/* .chat-window {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: rgb(215, 213, 211);
}

.chat-header {
    height: 60px; 
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08); 
    flex-shrink: 0;
}

.chat-header-content {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: green;
}

.header-info h3 {
    margin: 0;
    line-height: 1;
    color: black;
}

.logout-btn-mobile {
    background: #00a884;
    color: var(--wa-bg);
    border: 2.5px solid var(--wa-bg);
    padding: 15px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
    transition: all 0.2s ease;
    margin-left: 20px;
    margin-bottom: 30px;
}

.message-area {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
  
}

.typing-text {
    font-size: 0.85rem;
    color: #00a884 ;
    font-weight: 500;
    margin: 0;
    padding: 0;
    animation: pulse-typing 1.5s infinite;
}

.logout-btn-mobile:hover{
    background-color:  #019272;
}

@keyframes pulse-typing {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


.msg-bubble {
    max-width: 65%;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 0.95rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    width: fit-content;
}

.msg-bubble.me {
    align-self: flex-end;
    background-color: #c0e0a8;
    color: #020c12;
    border: 1px solid #c0e0a8;
    border-top-right-radius: 0;
}

.msg-bubble.them {
    align-self: flex-start !important;
    background-color: rgb(231, 244, 216);
    color: #111b21;
    border: 1px solid  rgb(231, 244, 216);
    border-top-left-radius: 0;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #019272;
    padding: 2px;
    background-color: var(--white);
    margin-right: 10px 40px 40px;
}

.msg-time {
    font-size: 0.75rem;
    color:grey;
    display: block;
    text-align: right;
    margin-top: 4px;
}

.msg-bubble.me .msg-time {
    color: #111b21;
}

.msg-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    margin-top: 2px;
}

.msg-status {
    display: flex;
    line-height: 1;
}

.msg-status .check {
    color: #8696a0;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: -4px;
}

.msg-status.read .check {
    color: #34b7f1
}

.msg-footer {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}

.msg-status .check:first-child {
    margin-left: 2px;
}
.msg-bubble.me:hover{
    background-color: rgb(181, 92, 181);
}

.msg-bubble.them:hover{
    background-color:  rgb(215, 228, 201);
}

/* FORM *//*

.chat-input-form {
    padding: 20px;
    background: var(--wa-bg);
    display: flex;
    gap: 10px;
}

.chat-input-form input {
    flex: 1;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid var(--text-dark);
    outline: none;
}

.chat-input-form button {
    background: #00a884;
    color: var(--white);
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}

.bio-summary {
    font-size: 0.8rem;
    color: #667781;
    margin: 0;
}

.contact-details-bar {
    background-color: #ffffff;
    padding: 8px 15px;
    border-bottom: 1px solid var(--wa-border);
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.contact-details-bar strong {
    color: var(--wa-green);
}

.chat-input-form button:hover {
    background: #019272;
} */