.mini-sidebar {
    width: 70px;
    height: 100vh;
    background-color: var(--bg-sidebar);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
     border-right: 1.5px solid #1D1F1F;
}


.mini-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


.mini-actions {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}


.mini-btn {
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
    color:#ffffff;
}

.mini-btn:hover {
    background-color: rgba(187, 177, 177, 0.1);
}

/*
.mini-btn.logout {
    color: #ffffff;
}*/